body {
   margin: 0;
   background-color: #1F2937;
   font-family: 'Work Sans', sans-serif;
}

.container{
   background: #1F2937;
   max-width: 600px;
   margin: auto;;
   padding: 50px;
   border: 8px solid white;
   margin-top: 20px;
   border-radius: 3px;
}

.container h1{
   font-family: 'Work Sans', sans-serif;
   font-weight: bold;
   font-size: 35px;
}

.locker{
   width: 100px;
   margin-bottom: 20px;
}

span{
   color: #10B981;
}


button{
   padding: 10px;
   border: none;
   background: #10B981;
   color: white;
   border-radius: 5px;
   margin-top: 50px;
   cursor: pointer;
   transition: all 0.5s;
   font-family: 'Work Sans', sans-serif;
   font-weight: bold;}

button:hover{
   background: #5b8778;
}

h1{
   color: white;
   text-align: left;
   margin: 0;
}

p{
   color: #D5D4D8
}

hr{
   margin-top: 40px;
   border:1px solid #2F3E53;
}

.pass{
   background: #273549;
   padding: 10px;
   width: 30%;
   text-align: center;
   color: #55F991;
   display:inline-flex;
   justify-content: center;
   align-items: center;
   margin: 30px;
   border-radius: 5px;
}

footer{
   color: #10B981;
   margin-top: 10px;
   text-align: center;
}

